
html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;	
	display: flex;
	flex-direction: column;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-width: 1000px;
}

* {
	font-size: 14px;
	font-family: "Raleway";
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button, a {cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

main {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {font-size:inherit; font-weight: 400;}

h1{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 35px;
}

.f_center {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.bigBlock
{
    background-color: white;
    margin-left: 50px;
    border-radius: 15px;
}

.regHeader
{
    color: black;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

.miniheader
{
    margin-top: 7px;
    margin-bottom: 15px;
    color: black;
    font-size: 15px;
    height:6px;
}
.nameheader
{
    margin: auto auto;
    color: black;
    font-size: 20px;
    height:6px;
    font-weight: bold;
    height: 30px;
}

a{
    font-size: 18px;
    color: black;
    padding: 15px;
    font-size: 18px;
    margin-left: 50px;
    background-color: #f3f3f3;
    border-radius: 20px;
}

button {
    background-color: rgb(134, 28, 134);
    border: 0;
    font-size: 17px;
    border-radius: 30px;
    color: white; 
    height: 35px;
    width: 125px;
}

button:active {
    transition: 0.25s;
    font-size: 15px;
}

a:hover {
    transition: 0.25s;
    transform: scale(0.9);
    font-size: 17px;
}

.bt:hover {
    transition: 0.25s;
    transform: scale(0.9);
    font-size: 17px;
}

a:active{
    color: gold;
}

input::-webkit-input-placeholder 
{
    color: rgb(57, 176, 212);
}

.entryField
{
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    height: 35px;
    border: 1px solid black;
}

.regButton
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 17px;
    margin-top: 10px;
}

.out{
    font-size: 18px;
    color: black;
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
}

.errBlock
{
    background-color: brown;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
}

.errBlock > p{
    color: rgb(226, 224, 224);
    font-size: 15px;
    text-align: center;
}

.succBlock
{
    background-color: rgb(52, 165, 42);
    width: 250px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    padding: 17px;
    margin-top: 10px;
    margin-left: 10px;
}

.succBlock > p{
    color: rgb(233, 233, 233);
    font-size: 15px;
    text-align: center;
    padding: 0 auto;
}

/*_________________________________________________Ниже стили для index (кроме шрифтов и ссылок с hover, они глобальны)(сверху глобальные и для register)___________________*/

.bt {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    color: rgb(134, 28, 134);
    border: 0;
    font-size: 17px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0); 
    height: 45px;
    width: 300px;
}

.check
{
    margin-right: 10px;
}

.form_auth{
    margin-top: 60px;
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
}

.btn_auth{
    font-size: 18px;
    background-color: #f3f3f3;
    border-radius: 20px;
    color: black;
}

.leftBlock{
    position: relative;
    background-color:white;
    float: left;
    width: 50%;
    height: 100%;
}
.leftBlock form {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background-color: #e0e0e0;
    width: 80%;
    min-width: 200px;
    height: 80%;
    max-width: 600px;
    border-radius: 10px;
    min-height: 800px;
    max-height: 800px;
}
.rightBlock {
    position: relative;
    background-color: white;
    float: right;
    width: 50%;
    height: 100%;
}
.rightBlock form {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    background-color: #e0e0e0;
    width: 80%;
    min-width: 500px;
    max-width: 600px;
    height: 80%;
    padding: 110px;
    border-radius: 10px;
    min-height: 800px;
    max-height: 800px;
}
.rightBlock form input {
    width: 100%;
}
.leftBlock form, .rightBlock form {
    display: block;
}
.leftBlock form button, .rightBlock form button {
    position: relative;
}
.block_elems * {
    display: block;
}

.header_logo{
    width: 50px;
    height: 50px;
    margin: 4px -10px;
}

.avat_logo{
    border-radius:100px; float: right;
    width: 50px;
    height: 50px;
    margin: 4px 0;
    float: right;
}

.name_header{
    float: right;
    margin: 25px 10px;
    font-weight: bold;
}

.logo_a{
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
}

.header{
    width:100%;
    height: 60px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px rgba(97, 97, 97, 0.274);
    z-index: 1;

}

.avatar{
    width: 150px;
    border-radius: 10px;
    max-height: 200px;
}
.divisor{
    max-height: 200px;
    display:flex;
    flex-direction:row;
    background-color: #cecece;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(97, 97, 97, 0.274);
    margin-bottom: 15%;
}
